body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e8eaeb;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  transition: 200ms;
  z-index: 2;
}

nav img {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 13.5px;
  background-image: url("../img/logo.png");
}

nav .logo {
  padding: 5px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  color: #ffffff;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  color: #fff;
  text-decoration: none;
  padding: 17px 25px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.cor-menu {
  transition: 200ms;
  background-color: #50444c;
  opacity: 95%;
  width: 100%;
}

section {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
}

#stripe-home {
  width: 562px;
  height: 316px;
}

.box {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 62%;
  position: relative;
  margin: 25px 19.5%;
  padding: 70px 22px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
}

.descricao {
  position: initial;
  padding: 20px;
}

.saiba-mais {
  width: 40%;
  position: relative;
  left: 30%;
  padding: 15px 0px;
  background: dimgray;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.noDecoration,
a:link,
a:visited {
  text-decoration: none !important;
  color: #fff;
}

.saiba-mais:hover {
  background: black;
  transform: scale(1.2);
}

body h1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 80%);
  text-align: center;
  font-size: 7em;
  width: 5em;
  transition: 200ms;
  background-color: white;
  border-radius: 15px;
}

body h1:hover {
  color: #dfdfdf;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

hr {
  margin: 40px 0;
}

.slider-principal {
  width: 100%;
  position: relative;
}

.arrow {
     position: absolute;
    z-index: 1;
    width: 10%;
    height: 93%;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    cursor: pointer;
}

.arrow2 {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 93%;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    cursor: pointer;
    right:0%;
}

#arrow-prev {
  background-image: url("../img/arrow-prev.png");
}

#arrow-next {
  background-image: url("../img/arrow-next.png");
}

.banner img {
  display: block;
  margin: 0px auto;
  width: 75%;
  transition: 400ms;
}

.banner img:hover {
  box-shadow: 15px 16px 13px 1px rgb(0 0 0 / 20%);
}

.separador {
  padding: 15px;
  border-top: 7px solid gray;
  opacity: 25%;
}

.separador2 {
  border-top: 5px solid black;
  opacity: 25%;
  margin: 20px 220px;
  border-radius: 100px;
}

.info img {
  width: 60%;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 10px;
}

.info p {
  text-align: center;
  font-size: 2em;
  padding: 5px;
}

.negrito {
  font-weight: bold;
}

.como-funciona h2 {
  text-align: center;
  font-size: 9em;
  padding: 16px;
  margin: 10px 18%;
}

.como-funciona img {
  width: 50%;
  position: relative;
  display: block;
  background-color: #fff;
}

.como-funciona em {
  position: relative;
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 0px 327px;
  background-color: white;
}

#subtitulo {
  font-size: 4em;
  text-align: -webkit-center;
  padding: 15px;
  margin: 40px 458px;
  background-color: white;
}

.display {
  display: flex;
  width: 53%;
}

#container {
  width: 470px;
  height: 500px;
  font-size: 1.5em;
  padding: 30px;
  position: absolute;
  text-align: justify;
  top: 143%;
  left: 30%;
  padding-block: 62px;
}

#container img {
  position: relative;
  width: 100%;
}

ul li #container {
  flex-direction: column;
  position: relative;
  top: 27em;
}

#container p {
  background-color: white;
  border-radius: 6px;
}

h3 {
  font-size: 7em;
  top: 150px;
  position: absolute;
  color: #80808d;
  left: 18%;
  transition: 200ms;
}
h3:hover {
  background-color: white;
  border-radius: 15px;
}

#contato {
  width: 3.5%;
  float: right;
  position: relative;
  right: 40px;
  top: 13px;
  padding: 10px;
}

footer {
  background: url("../img/bg.jpg");
  padding: 40px 0;
  background-position: bottom;
}

footer p {
  color: #fff;
  font-size: 2.5vh;
  text-align: center;
}

.foot {
  width: 6%;
  display: block;
  margin: 0 auto;
}

.sobre-nos img {
  width: 100%;
  position: absolute;
}

.sobre-nos h4 {
    position: absolute;
    z-index: 1;
    margin: 10%;
    color: white;
    font-size: 16vh;
    text-align: center
}

.sobre-nos h4:hover {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16.5vh;
}
.back {
  position: relative;
  width: 100%;
}

.sobre-nos p {
  z-index: 1;
  font-size: 3em;
  left: 31px;
  text-align: center;
  position: relative;
  padding: 30px;
}

.separador-sobre {
  padding: 15px;
  position: relative;
  margin: 0px auto;
  width: 70%;
  border-top: 7px solid black;
  opacity: 25%
}

.sobre-nos .perguntas {
  width: 50%;
  margin: 0px auto;
  display: block;
  position: relative;
  transition: 400ms;
}

.sobre-nos .perguntas:hover {
  box-shadow: 15px 16px 13px 1px rgb(0 0 0 / 20%);
  width: 55%;
}



